
/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    margin: 0;
}

img {
    width: 100%;
}

.main-wrapper {
    position: relative;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.content-wrapper {
    display: inline-block;
    width: 100%;
}

nav {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

nav ul {
    float: right;
    display: inline-block;
    width: auto;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
}

nav ul li a {
    color: #495159;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    text-decoration: none;    
}

nav ul li a:hover {
    color: #4f4bf5;
    border-color: #4f4bf5;
}

.section {
    margin-bottom: 20px;
    display: inline-block; 
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffebe6;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
